.header {
    // .container {
    //     display: flex;
    //     flex-wrap: nowrap;
    //     justify-content: space-between;
    // }
    .logo {
        float: left;
        img {
            width: 100%;
            height: auto;
        }
    }
    .header-user {
        float: right;
        margin-top: 45px;
        // margin-right: 20px;
        ul {
            li {
                display: inline-block;
                #guest {
                    font-size: 20px;
                    span {
                        img {
                            margin-bottom: 6px;
                        }
                    }
                }
                #logout {
                    margin-left: 5px;
                    margin-bottom: 7px;
                }
            }
        }
    }
}