<header class="header">
  <div class="container">
    <div class="logo" style="width:320px;height:120px">
      <img src="../assets/images/logo.png">
    </div>
    <div class="header-user">
      <ul>
        <li>
          <p id="guest">
            <span class="glyphicon">
              <img src="../assets/images/guest.png">
            </span>
            <span>Guest</span>
          </p>
        </li>
        <li>
          <button type="button" id="logout" class="btn btn-info" aria-label="Left Align">
            <span class="glyphicon glyphicon-align-left glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</header>