<!-- course details -->
<h2 class="text-center">The Course Details</h2>
<table class="table table-striped">
    <!-- <tbody>
        <tr>
            <td>Course code</td>
            <td>{{courseDetails.courseCode}}</td>
        </tr>
        <tr>
            <td>Course name</td>
            <td>{{courseDetails.courseName}}</td>
        </tr>
        <tr>
            <td>Syllabus</td>
            <td>{{courseDetails.syllabus}}</td>
        </tr>
        <tr>
            <td>Trainer</td>
            <td>{{courseDetails.trainer}}</td>
        </tr>
    </tbody> -->
</table>
<h4><a href="#/training"><span class="glyphicon glyphicon-circle-arrow-left black"></span>&nbsp;Back</a></h4>
