<!-- assessment details -->
<h2 class="text-center"> Assessment Details </h2>
<div>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Assessment name</th>
            <th>Assessment code</th>
            <th>Date Of Assessment</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let assessment of assessmentDetails">
            <td>{{ assessment?.slno }}</td>
            <td>{{ assessment?.aname }}</td>
            <td><a>{{ assessment?.acode }}</a>
            </td>
            <td>{{ assessment?.adate }}</td>
            <td>{{ assessment?.astatus }}</td>
        </tr>
    </table>
</div>
