.login-modal {
    .login-modal-header {
        background-color: rgb(92, 184, 92);
        padding: 35px 50px;
        h3 {
            padding: 1em 0em;
            color: #fff;
            font-size: 22px;
            font-weight: bold;
        }
    }
    .login-modal-body {
        padding: 40px 50px;
    }
    .login-remember {
       margin-bottom: 2em;
    }
}